.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  .blocks {
    width: 306px;
    display: flex;
    flex-wrap: wrap;
    .block {
      border: 1px solid black;
      width: 100px;
      height: 100px;
      cursor: pointer;
      font-size: 50px;
      line-height: 87px;
    }
  }
}
